// Variable
$primary: var(--v-primary-base);
$secondary: var(--v-secondary-base);
$accent: var(--v-accent-base);
$warning: var(--v-warning-base);
$info: var(--v-info-base);
$success: var(--v-success-base);
$gray: #8798ad;
